#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#mycarousel{
    background-color: red;
    
}
#mycarousel img{
    height: 300px;
    margin-top: 35px;
    
}
#mycarousel2{
    background-color: blue;
    
}
#mycarousel2 img{
    height: 300px;
    margin-top: 35px;
    
}